################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjektRadar_v5/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/ProjektRadar_v5/.vs/ProjektRadar/CopilotIndices/18.4.106.63888
/ProjektRadar_v5/.vs/ProjektRadar/DesignTimeBuild
/ProjektRadar_v5/.vs/ProjektRadar/FileContentIndex
/ProjektRadar_v5/.vs/ProjektRadar/v18/.suo
